@model iCream_Admin.Models.FaQ

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header" style="margin-bottom: 90px;">
    <div class="container text-center py-5">
        <h1 class="text-white display-3 mt-lg-5">Details</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="https://localhost:44362/Home/Index">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0"><a class="text-white" href="https://localhost:44362/Books/Index">Book</a></p>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Portfolio Start -->
<div class="container-fluid py-2 px-0">
    <div class="container py-2">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <h1 class="position-relative text-center mb-5">Details FaQs</h1>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faq_type)
                </dd>

                <dt>
                   NameViewer
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faq_nameViewer)
                </dd>

                <dt>
                   Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faq_email)
                </dd>

                <dt>
                   Phone
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faq_phone)
                </dd>

                <dt>
                   Text
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faq_text)
                </dd>
            </dl>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-1">
                <p>
                    @Html.ActionLink("Back", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End-->





