@model iCream_Admin.Models.FaQ

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<!-- Portfolio Start -->
<div class="container-fluid py-3 px-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <h1 class="section-title position-relative text-center mb-5">Edit FaQs Information</h1>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.faq_id)

        <div class="form-group row">
            @Html.LabelFor(model => model.faq_type, "Type", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.faq_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.faq_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.faq_nameViewer, "NameViewer", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.faq_nameViewer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.faq_nameViewer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.faq_email, "Email", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.faq_email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.faq_email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.faq_phone, "Phone", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.faq_phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.faq_phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.faq_text, "Text", htmlAttributes: new { @class = "control-label col-md-4 text-right" })
            <div class="col-md-5">
                <textarea id="recipe_text" name="recipeV_text" rows="3" cols="3" class="form-control"></textarea>
                @Html.ValidationMessageFor(model => model.faq_text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-12 py-2 text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
