@model IEnumerable<iCream_Admin.Models.Recipe_Viewer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int num = 1;
}
<br />
<!-- Portfolio Start -->
<div class="container-fluid py-3 px-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <h1 class="section-title position-relative text-center mb-5">List Recipe Ice Cream Information</h1>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>
            Author
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Img
        </th>
        <th>
            Statu
        </th>
        <th>
            Text
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@num </td>
            <td>
                @Html.DisplayFor(modelItem => item.recipeV_nameViewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recipeV_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recipeV_price)
            </td>
            <td>
                <img src="~/UploadsViewer/@item.recipeV_img" width="70" height="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recipe_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recipeV_text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Recipe.category_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.recipeV_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.recipeV_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.recipeV_id })
            </td>
        </tr>
        {
            num++;
        }

    }

</table>
