@model iCream_Web.Models.Customer_1

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer_1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_repass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_repass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_cardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_cardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_cardsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_cardsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_cardCVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_cardCVV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
