@model IEnumerable<iCream_Admin.Models.Category_Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int num = 1;

}

<br />
<!-- Portfolio Start -->
<div class="container-fluid py-3 px-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <h1 class="section-title position-relative text-center mb-5">List Category Information</h1>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>No.  </th>

        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@num</td>

            <td>
                @Html.DisplayFor(modelItem => item.category_id)
            </td>
            <td>@Html.DisplayFor(modelItem => item.category_name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.category_name }) |
                @Html.ActionLink("Details", "Details", new { id = item.category_name }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.category_name })
            </td>
        </tr>
        {
            num++;
        }

    }

</table>
